
<!DOCTYPE html>
<html>
    <head>
        <body>
            <h1>"California Housing Price Predictor" </h1>
            <form action="/predict" method="POST"> 
                <label> Median income </label>
                <input type="number" name="MedInc" required>
                <label> House Age </label>
                <input type="number" name="HouseAge" required>
                <label> AveRooms </label>
                <input type="number" name="AveRooms" required>
                <label> AveBedrms </label>
                <input type="number" name="AveBedrms" required>
                <label> Population </label>
                <input type="number" name="Population" required>
                <label> AveOccup </label>
                <input type="number" name="AveOccup" required>
                <label> Latitude </label>
                <input type="number" name="Latitude" required>
                <label> Longitude </label>
                <input type="name" name="Longitude" required>
                <input type="submit" value="Predict Price">
             </form>
        </body>
    </head>
</html>

